openapi: 3.1.0
info:
  title: PledgeOFF API
  version: 2.0.0
  description: Decision Intelligence Platform — internal API reference
  contact:
    url: https://pledgeoff.com

servers:
  - url: https://pledgeoff.com
    description: Production
  - url: https://staging.pledgeoff.com
    description: Staging

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase JWT obtained from `supabase.auth.getSession()`
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Personal API key (po_live_…) — Team+ plans only

  responses:
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: UNAUTHENTICATED
              message: Valid authentication required

    InternalError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object

    Idea:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        text:
          type: string
        niche:
          type: string
        teamId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time

    Decision:
      type: object
      nullable: true
      properties:
        id:
          type: string
          format: uuid
        ideaId:
          type: string
          format: uuid
        verdict:
          type: string
          enum: [GO, KILL, PIVOT]
        reasoning:
          type: string
        score:
          type: integer
          minimum: 0
          maximum: 100
        confidence:
          type: string
          enum: [low, medium, high]
        createdAt:
          type: string
          format: date-time

    Signal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ideaId:
          type: string
          format: uuid
        source:
          type: string
          enum: [reddit, github, hn, devto, brave, google]
        title:
          type: string
        url:
          type: string
          format: uri
        sentiment:
          type: string
          enum: [positive, negative, neutral]
        createdAt:
          type: string
          format: date-time

    Subscription:
      type: object
      properties:
        plan:
          type: string
          enum: [free, founder, team, studio, enterprise]
        status:
          type: string
          enum: [active, canceled, past_due, trialing]
        currentPeriodEnd:
          type: string
          format: date-time
          nullable: true

    OttoBalance:
      type: object
      properties:
        included:
          type: integer
          description: Included monthly credits remaining
        purchased:
          type: integer
          description: Extra pack credits remaining
        total:
          type: integer
        includedLimit:
          type: integer
          description: Monthly included quota for current plan (0 = free)
        plan:
          type: string
          enum: [free, founder, team, studio, enterprise]

    Team:
      type: object
      nullable: true
      properties:
        id:
          type: string
          format: uuid
        ownerId:
          type: string
          format: uuid
        name:
          type: string
        logoUrl:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time

    TeamMembership:
      type: object
      properties:
        id:
          type: string
          format: uuid
        teamId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
          nullable: true
        invitedEmail:
          type: string
          format: email
        status:
          type: string
          enum: [pending, active]
        role:
          type: string
          enum: [member, admin]
        createdAt:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        type:
          type: string
          description: Notification category (e.g. queue_alert, accuracy_report)
        title:
          type: string
        body:
          type: string
          nullable: true
        read:
          type: boolean
        createdAt:
          type: string
          format: date-time

    WebhookConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
          description: Event types to deliver (e.g. ["decision.ready.v1"])
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time

    InviteLink:
      type: object
      properties:
        token:
          type: string
        url:
          type: string
          format: uri
          description: Full join URL — https://pledgeoff.com/join/{token}
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        keyPrefix:
          type: string
          description: First 8 chars of the key for display (e.g. po_live_ab)
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        revokedAt:
          type: string
          format: date-time
          nullable: true

tags:
  - name: System
    description: Platform health
  - name: Ideas
    description: Idea submission and retrieval
  - name: Billing
    description: Subscriptions, checkout, and seat management
  - name: Otto
    description: Otto AI Co-Founder — conversational advisor
  - name: Teams
    description: Team invitations, membership, and workspace management
  - name: Notifications
    description: In-app notification bell and preferences
  - name: Webhooks
    description: Outbound webhook configuration (Founder+ plans)
  - name: Intelligence
    description: Signal feed and verdict feedback
  - name: Profile
    description: User profile and account management
  - name: Auth
    description: Authentication helpers
  - name: Engineering
    description: GitHub Engineering Intelligence — velocity metrics and delivery estimates (Team+ plans)
  - name: Public
    description: Unauthenticated endpoints

paths:
  /api/health:
    get:
      summary: Health check
      description: Returns platform status and database connectivity. No auth required.
      security: []
      tags: [System]
      responses:
        '200':
          description: Platform healthy or degraded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
                  db:
                    type: string
                    enum: [ok, error]
                  latencyMs:
                    type: integer
                  ts:
                    type: string
                    format: date-time
              examples:
                healthy:
                  value:
                    status: ok
                    db: ok
                    latencyMs: 12
                    ts: '2026-05-20T10:00:00.000Z'
        '503':
          description: Platform degraded

  /api/v1/ideas:
    get:
      summary: List ideas
      description: Returns all ideas belonging to the authenticated user, each with its decision attached. Supports keyset pagination.
      tags: [Ideas]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
            format: date-time
          description: ISO timestamp — return ideas created before this date
      responses:
        '200':
          description: List of ideas with decisions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Idea'
                        - type: object
                          properties:
                            decision:
                              $ref: '#/components/schemas/Decision'
                  meta:
                    type: object
                    properties:
                      hasMore:
                        type: boolean
                      nextCursor:
                        type: string
                        format: date-time
                        nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

    post:
      summary: Submit idea
      description: >
        Submits a new idea and triggers the GO/KILL/PIVOT pipeline asynchronously
        (fetch signals → decide → email). Returns immediately with 201 — the decision
        arrives via email and appears on refresh.
      tags: [Ideas]
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
          description: Optional UUID to prevent duplicate submissions on retry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 10
                  maxLength: 2000
                  description: Idea description in free text
                teamId:
                  type: string
                  format: uuid
                  nullable: true
                  description: Associate idea with a team (optional)
            example:
              text: A SaaS tool that helps solo founders validate ideas before building
      responses:
        '201':
          description: Idea created; pipeline running in background
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Idea'
        '400':
          description: Invalid JSON or validation failure
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Monthly plan limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: PLAN_LIMIT_REACHED
                  message: Your free plan allows 1 verification per month. Upgrade to continue.
                  plan: free
        '409':
          description: Idempotency key already processed
        '422':
          description: Idea text too short or too long
        '429':
          description: Rate limit exceeded

  /api/v1/ideas/{id}:
    get:
      summary: Get idea
      description: >
        Returns a single idea with its decision and signals.
        Returns 404 for ideas not owned by the authenticated user
        (ownership check is deliberate — resource existence is not revealed).
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Idea with decision and signals
          headers:
            X-Cache:
              schema:
                type: string
                enum: [HIT, MISS]
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      idea:
                        $ref: '#/components/schemas/Idea'
                      decision:
                        $ref: '#/components/schemas/Decision'
                      signals:
                        type: array
                        items:
                          $ref: '#/components/schemas/Signal'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found or not owned by authenticated user

    delete:
      summary: Delete idea
      description: Permanently deletes an idea and its decision. Ownership required.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Idea deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found or not owned by authenticated user

  /api/v1/ideas/{id}/revalidate:
    post:
      summary: Re-validate idea
      description: Re-fetches signals and generates a new verdict for an existing idea. Costs 1 validation credit.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Re-validation triggered; new decision attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      decision:
                        $ref: '#/components/schemas/Decision'
                      scoreDiff:
                        type: integer
                        nullable: true
                        description: Score change vs. previous verdict (null if first verdict)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Monthly plan limit reached
        '404':
          description: Idea not found

  /api/v1/ideas/{id}/outcome:
    get:
      summary: Get outcome
      description: Returns the recorded outcome for an idea (what actually happened after the verdict).
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Outcome or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                    properties:
                      outcome:
                        type: string
                        enum: [built_worked, built_failed, not_built, pivoted]
                      notes:
                        type: string
                        nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found

    post:
      summary: Record outcome
      description: >
        Records what actually happened after the GO/KILL/PIVOT verdict.
        Feeds back into the accuracy flywheel. Upserts — calling again overwrites the previous outcome.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome]
              properties:
                outcome:
                  type: string
                  enum: [built_worked, built_failed, not_built, pivoted]
                notes:
                  type: string
                  maxLength: 1000
                  nullable: true
            example:
              outcome: built_worked
              notes: Launched on Product Hunt, 200 signups in week 1
      responses:
        '200':
          description: Outcome recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found

  /api/v1/ideas/{id}/pipeline-status:
    get:
      summary: Get pipeline status
      description: Returns signal count and whether a decision exists yet. Used to poll pipeline progress after idea submission.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Pipeline status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      signalCount:
                        type: integer
                      hasDecision:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found

  /api/v1/ideas/{id}/competitors:
    get:
      summary: Get competitor analysis
      description: Returns cached competitor analysis for an idea, or null if not yet generated.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Competitor analysis or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
    post:
      summary: Generate competitor analysis
      description: Triggers an AI competitor analysis for the idea. Result is cached — subsequent GETs return it immediately. Subject to AI rate limiting.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Competitor analysis generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
        '429':
          description: AI rate limit exceeded

  /api/v1/ideas/{id}/customers:
    get:
      summary: Get customer analysis
      description: Returns cached ICP/customer persona analysis, or null if not yet generated.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Customer analysis or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
    post:
      summary: Generate customer analysis
      description: Triggers an AI ICP/customer persona analysis. Result is cached. Subject to AI rate limiting.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Customer analysis generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
        '429':
          description: AI rate limit exceeded

  /api/v1/ideas/{id}/build:
    get:
      summary: Get build plan
      description: Returns cached technical build plan, or null if not yet generated.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Build plan or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
    post:
      summary: Generate build plan
      description: Triggers an AI technical build plan analysis. Result is cached. Subject to AI rate limiting.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Build plan generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
        '429':
          description: AI rate limit exceeded

  /api/v1/ideas/{id}/landing:
    get:
      summary: Get landing page copy
      description: Returns cached AI-generated landing page copy, or null if not yet generated.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Landing page copy or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
    post:
      summary: Generate landing page copy
      description: >
        Generates AI landing page copy for the idea. Requires the idea to have a decision first.
        Result is cached. Subject to AI rate limiting.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Landing page copy generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
        '422':
          description: Idea has no decision yet
        '429':
          description: AI rate limit exceeded

  /api/v1/ideas/{id}/launch-kit:
    get:
      summary: Get launch kit
      description: Returns cached AI-generated launch kit (Product Hunt copy, social posts, etc.), or null.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Launch kit or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
    post:
      summary: Generate launch kit
      description: Generates AI launch kit content. Result is cached. Subject to AI rate limiting.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Launch kit generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
        '429':
          description: AI rate limit exceeded

  /api/v1/ideas/{id}/simulate:
    get:
      summary: Get revenue simulation
      description: Returns cached revenue simulation, or null if not yet generated.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Revenue simulation or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
    post:
      summary: Generate revenue simulation
      description: >
        Triggers an AI revenue/growth simulation. Requires a decision first.
        Result is cached. Subject to AI rate limiting.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Simulation generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found
        '422':
          description: Idea has no decision yet
        '429':
          description: AI rate limit exceeded

  /api/v1/ideas/{id}/pdf:
    get:
      summary: Export idea PDF report
      description: >
        Generates and downloads a branded PDF report for the idea including verdict, signals,
        and simulation. Studio+ plans only. Pass `?brand=YourName` for white-label output.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: brand
          in: query
          schema:
            type: string
          description: Optional agency/brand name for white-label PDF header
      responses:
        '200':
          description: PDF file
          headers:
            Content-Disposition:
              schema:
                type: string
              example: 'attachment; filename="report-abc12345-2026-05-30.pdf"'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Studio plan required
        '404':
          description: Idea not found

  /api/v1/ideas/{id}/report:
    get:
      summary: Get decision timeline
      description: Returns the full decision history (all re-validations) for an idea as a JSON array.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Decision timeline
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found

  /api/v1/ideas/{id}/report/pdf:
    get:
      summary: Export audit trail PDF
      description: >
        Generates and downloads an audit trail PDF listing all decisions over time.
        Studio+ plans only.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Audit trail PDF
          headers:
            Content-Disposition:
              schema:
                type: string
              example: 'attachment; filename="report-abc12345-2026-05-30.pdf"'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Studio plan required
        '404':
          description: Idea not found

  /api/v1/ideas/{id}/export:
    get:
      summary: Export idea as JSON
      description: >
        Downloads all data for a single idea as a JSON file — idea, decision, signals,
        simulation, landing page, customer analysis, build plan, competitor analysis.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: JSON export file
          headers:
            Content-Disposition:
              schema:
                type: string
              example: 'attachment; filename="pledgeoff-idea-abc12345-2026-05-30.json"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportedAt:
                    type: string
                    format: date-time
                  exportVersion:
                    type: string
                  idea:
                    $ref: '#/components/schemas/Idea'
                  decision:
                    $ref: '#/components/schemas/Decision'
                  signals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Signal'
                  simulation:
                    type: object
                    nullable: true
                  landingPage:
                    type: object
                    nullable: true
                  customers:
                    type: object
                    nullable: true
                  build:
                    type: object
                    nullable: true
                  competitors:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Idea not found

  /api/v1/ideas/{id}/reactions:
    get:
      summary: Get reactions
      description: Returns agree/disagree counts and the authenticated user's current reaction.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Reaction counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      agree:
                        type: integer
                      disagree:
                        type: integer
                      myReaction:
                        type: string
                        enum: [agree, disagree]
                        nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      summary: Set reaction
      description: >
        Sets or clears a reaction on a team idea. User must be in a team that shares this idea.
        Pass `reaction: null` to remove an existing reaction.
      tags: [Ideas]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reaction]
              properties:
                reaction:
                  type: string
                  enum: [agree, disagree]
                  nullable: true
            example:
              reaction: agree
      responses:
        '200':
          description: Updated reaction counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      agree:
                        type: integer
                      disagree:
                        type: integer
                      myReaction:
                        type: string
                        nullable: true
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: User must be in a team to react
        '404':
          description: Idea not found

  /api/v1/billing/subscription:
    get:
      summary: Get subscription
      description: >
        Returns current plan, status, and period end.
        Creates a free subscription record if none exists (idempotent).
      tags: [Billing]
      responses:
        '200':
          description: Current subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
              example:
                data:
                  plan: founder
                  status: active
                  currentPeriodEnd: '2026-06-20T00:00:00.000Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/billing/checkout:
    post:
      summary: Create checkout session
      description: Creates an embedded Stripe Checkout session and returns the client secret.
      tags: [Billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [priceId]
              properties:
                priceId:
                  type: string
                  description: Stripe price ID (from NEXT_PUBLIC_STRIPE_*_PRICE_ID env vars)
                embedded:
                  type: boolean
                  default: true
                  description: When true, returns clientSecret for embedded checkout
            example:
              priceId: price_xxx
      responses:
        '200':
          description: Stripe Checkout client secret
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      clientSecret:
                        type: string
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Stripe not configured

  /api/v1/billing/change-plan:
    post:
      summary: Change plan
      description: Upgrades or downgrades an active Stripe subscription. Applies immediately via proration.
      tags: [Billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [priceId]
              properties:
                priceId:
                  type: string
                  description: Target Stripe price ID — Founder, Team, or Studio plans
      responses:
        '200':
          description: Plan changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '400':
          description: No active subscription or unknown price ID
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          description: Stripe error

  /api/v1/billing/cancel:
    post:
      summary: Cancel subscription
      description: Cancels the active Stripe subscription at the end of the current billing period.
      tags: [Billing]
      responses:
        '200':
          description: Subscription will cancel at period end
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '400':
          description: No active subscription found
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          description: Stripe error

  /api/v1/billing/reactivate:
    post:
      summary: Reactivate subscription
      description: Reactivates a cancelled subscription before the period ends.
      tags: [Billing]
      responses:
        '200':
          description: Subscription reactivated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '400':
          description: No active subscription found
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          description: Stripe error

  /api/v1/billing/portal:
    post:
      summary: Open billing portal
      description: Creates a Stripe Customer Portal session for managing payment methods and invoices.
      tags: [Billing]
      responses:
        '200':
          description: Stripe Customer Portal URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
        '400':
          description: No Stripe customer found
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          description: Stripe error

  /api/v1/billing/seats:
    post:
      summary: Update extra seats
      description: >
        Purchases or updates the extra seat add-on for Team+ plans (€20/seat/mo).
        Set `extraSeats: 0` to remove the add-on.
      tags: [Billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [extraSeats]
              properties:
                extraSeats:
                  type: integer
                  minimum: 0
                  maximum: 97
                  description: Number of additional seats beyond the plan base
            example:
              extraSeats: 2
      responses:
        '200':
          description: Seat add-on updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      extraSeats:
                        type: integer
                      totalSeats:
                        type: integer
                      stripeItemId:
                        type: string
        '400':
          description: Validation error or invalid quantity
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Plan does not support seat add-on (Founder or Free)
        '502':
          description: Stripe error

  /api/v1/billing/otto-pack:
    post:
      summary: Buy Otto question pack
      description: >
        Creates a Stripe one-time checkout for an Otto question pack.
        Available pack sizes: 10 (€15), 25 (€30), 60 (€60), 150 (€120).
        Questions never expire and stack across packs.
      tags: [Billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [questionCount]
              properties:
                questionCount:
                  type: integer
                  enum: [10, 25, 60, 150]
            example:
              questionCount: 25
      responses:
        '200':
          description: Checkout client secret
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      clientSecret:
                        type: string
        '400':
          description: Invalid pack size
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Free plan cannot purchase packs
        '503':
          description: Pack price ID not configured

  /api/v1/billing/vat:
    post:
      summary: Update VAT ID
      description: >
        Sets or removes the EU VAT ID on the Stripe customer.
        Pass an empty string or omit `vatId` to remove an existing VAT ID.
        Paid plans only.
      tags: [Billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vatId:
                  type: string
                  description: EU VAT number (e.g. RO12345678). Empty string = remove.
            example:
              vatId: RO12345678
      responses:
        '200':
          description: VAT ID updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '400':
          description: Invalid VAT format
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Free plan cannot set VAT ID

  /api/v1/billing/request-invoice:
    post:
      summary: Request invoice billing
      description: >
        Sends a NET30 invoice billing request to the PledgeOFF billing team.
        Studio plan only. Fires an email to billing@pledgeoff.com with the user's details.
      tags: [Billing]
      responses:
        '200':
          description: Invoice request submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Studio plan required

  /api/v1/api-keys:
    get:
      summary: List API keys
      description: Returns all API keys for the authenticated user (Team+ plans only). The full key value is never returned after creation.
      tags: [Auth]
      responses:
        '200':
          description: API key list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Team or Studio plan required
    post:
      summary: Create API key
      description: >
        Creates a new personal API key (`po_live_…`). Team+ plans only.
        The full key is returned **once** in the response — store it securely.
        Subsequent requests return only the prefix.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: Human-readable label for this key
            example:
              name: CI Integration
      responses:
        '201':
          description: API key created — key shown once
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/ApiKey'
                      - type: object
                        properties:
                          key:
                            type: string
                            description: Full API key — shown once, store immediately
              example:
                data:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  name: CI Integration
                  keyPrefix: po_live_
                  key: po_live_abcdef1234567890
                  createdAt: '2026-05-30T10:00:00.000Z'
                  lastUsedAt: null
                  revokedAt: null
        '400':
          description: Validation error or invalid key name
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Team or Studio plan required
        '422':
          description: Key limit reached for this account

  /api/v1/api-keys/{id}:
    delete:
      summary: Revoke API key
      description: Permanently revokes an API key. Any requests using this key will immediately return 401.
      tags: [Auth]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: API key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: API key not found

  /api/v1/engineering/snapshot:
    get:
      summary: Get engineering snapshot
      description: >
        Returns GitHub velocity metrics for the authenticated user's connected repository —
        commit frequency, open PRs, cycle time, and contributor count.
        Team+ plans only.
      tags: [Engineering]
      responses:
        '200':
          description: Engineering snapshot or null if no GitHub repo connected
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                    description: GitHub velocity metrics object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Team plan or higher required

  /api/v1/engineering/estimate/{ideaId}:
    get:
      summary: Get delivery estimate
      description: >
        Returns an AI-generated delivery time estimate for an idea based on the idea's
        build plan and the engineering snapshot velocity. Requires a GitHub repo connected.
      tags: [Engineering]
      parameters:
        - name: ideaId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Delivery estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Delivery estimate breakdown
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/engineering/disconnect:
    delete:
      summary: Disconnect GitHub
      description: Removes the stored engineering snapshot, effectively disconnecting GitHub from Engineering Intelligence.
      tags: [Engineering]
      responses:
        '204':
          description: GitHub disconnected
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/otto/balance:
    get:
      summary: Get Otto balance
      description: Returns remaining and used question credits for Otto AI Co-Founder.
      tags: [Otto]
      responses:
        '200':
          description: Current Otto balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OttoBalance'
              example:
                data:
                  included: 3
                  purchased: 10
                  total: 13
                  includedLimit: 5
                  plan: founder
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/otto/chat:
    post:
      summary: Ask Otto
      description: >
        Sends a message to Otto AI Co-Founder in the context of a specific idea and its verdict.
        Costs 1 question credit per call (included monthly credits deducted first, then purchased).
        Returns 402 when credits are exhausted.
      tags: [Otto]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ideaId, ideaText, verdict, reasoning, score, message]
              properties:
                ideaId:
                  type: string
                  format: uuid
                ideaText:
                  type: string
                  maxLength: 2000
                verdict:
                  type: string
                  enum: [GO, KILL, PIVOT]
                reasoning:
                  type: string
                  maxLength: 5000
                  description: Decision reasoning from the verdict card
                score:
                  type: integer
                  minimum: 0
                  maximum: 100
                message:
                  type: string
                  maxLength: 2000
                  description: User's question for Otto
      responses:
        '200':
          description: Otto's response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      reply:
                        type: string
                      balance:
                        $ref: '#/components/schemas/OttoBalance'
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: No question credits remaining — purchase a pack to continue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: OTTO_NO_QUESTIONS
                  message: No Otto questions remaining
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/otto/conversation/{ideaId}:
    get:
      summary: Get Otto conversation
      description: Returns the saved Otto conversation history for a specific idea. Returns null if no conversation exists yet.
      tags: [Otto]
      parameters:
        - name: ideaId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Conversation or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: string
                        format: uuid
                      ideaId:
                        type: string
                        format: uuid
                      messages:
                        type: array
                        items:
                          type: object
                          properties:
                            role:
                              type: string
                              enum: [user, assistant]
                            content:
                              type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/notifications:
    get:
      summary: List notifications
      description: Returns recent in-app notifications with unread count.
      tags: [Notifications]
      responses:
        '200':
          description: Notifications list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  unreadCount:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Mark all read
      description: Marks all notifications as read for the authenticated user.
      tags: [Notifications]
      responses:
        '200':
          description: All notifications marked read
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/notification-preferences:
    get:
      summary: Get notification preferences
      description: Returns email notification toggle settings for the authenticated user.
      tags: [Notifications]
      responses:
        '200':
          description: Current preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accuracy_report:
                        type: boolean
                      queue_alerts:
                        type: boolean
                      weekly_digest:
                        type: boolean
                      score_updates:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      summary: Update notification preferences
      description: Updates one or more email notification toggles. Partial update — omitted fields are unchanged.
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accuracy_report:
                  type: boolean
                queue_alerts:
                  type: boolean
                weekly_digest:
                  type: boolean
                score_updates:
                  type: boolean
            example:
              accuracy_report: true
              weekly_digest: false
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/webhooks/config:
    get:
      summary: List webhook configs
      description: Returns all registered outbound webhook endpoints. Founder+ plans only.
      tags: [Webhooks]
      responses:
        '200':
          description: Webhook configs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Plan does not include webhooks

    post:
      summary: Register webhook
      description: >
        Registers a new outbound webhook endpoint. PledgeOFF will POST a signed JSON payload
        to this URL when the specified events fire. Signature: `X-PledgeOFF-Signature` header
        (HMAC-SHA256, hex). Founder+ plans only.
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint to receive events
                events:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  description: Event types to subscribe to
            example:
              url: https://yourapp.com/webhooks/pledgeoff
              events: ['decision.ready.v1']
      responses:
        '201':
          description: Webhook registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookConfig'
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Plan does not include webhooks

    delete:
      summary: Delete webhook
      description: Removes a registered webhook by ID.
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
                  format: uuid
      responses:
        '204':
          description: Webhook deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Webhook not found

  /api/v1/teams:
    get:
      summary: Get team
      description: "Returns the team and memberships for the authenticated user, whether as owner or member. Returns team: null if not in a team."
      tags: [Teams]
      responses:
        '200':
          description: Team data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      team:
                        $ref: '#/components/schemas/Team'
                      memberships:
                        type: array
                        items:
                          $ref: '#/components/schemas/TeamMembership'
                      isOwner:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

    patch:
      summary: Update team name
      description: Updates the team name. Only the team owner can call this.
      tags: [Teams]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
            example:
              name: Acme Launch Team
      responses:
        '200':
          description: Updated team
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      team:
                        $ref: '#/components/schemas/Team'
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not the team owner

  /api/v1/teams/logo:
    post:
      summary: Upload team logo
      description: >
        Uploads a team logo image (PNG/JPEG/WebP, max 5MB). Resized to 128×128 WebP
        and stored in Supabase Storage. Owner-gated.
      tags: [Teams]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Logo uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      logoUrl:
                        type: string
                        format: uri
        '400':
          description: Invalid file type or size
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not the team owner

  /api/v1/teams/invite:
    post:
      summary: Invite team member
      description: Sends an email invitation to join the team. Requires an available seat on the owner's plan.
      tags: [Teams]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
            example:
              email: colleague@company.com
      responses:
        '201':
          description: Invitation created and email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      membership:
                        $ref: '#/components/schemas/TeamMembership'
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Seat limit reached for current plan
        '409':
          description: Email is already a team member

  /api/v1/teams/accept:
    post:
      summary: Accept team invite
      description: Accepts a team invitation using the UUID token from the invite email.
      tags: [Teams]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  format: uuid
                  description: Invite token from the invitation email link
      responses:
        '200':
          description: Invitation accepted, membership active
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Invite token not found or expired
        '409':
          description: User is already a member of another team

  /api/v1/teams/invite-link:
    get:
      summary: Get invite link
      description: Returns the current active invite link for the team (owner only).
      tags: [Teams]
      responses:
        '200':
          description: Active invite link or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InviteLink'
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not the team owner

    post:
      summary: Generate invite link
      description: Generates a new shareable invite link. Any previous link is revoked. Owner only.
      tags: [Teams]
      responses:
        '201':
          description: New invite link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InviteLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not the team owner

    delete:
      summary: Revoke invite link
      description: Revokes the current invite link. Users with the old link can no longer join. Owner only.
      tags: [Teams]
      responses:
        '204':
          description: Invite link revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not the team owner

  /api/v1/teams/join/{token}:
    post:
      summary: Join via invite link
      description: Joins a team using a shareable invite link token from /join/{token}.
      tags: [Teams]
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Joined team successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      teamId:
                        type: string
                        format: uuid
                      teamName:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Invite link not found, expired, or revoked
        '409':
          description: Already a member of a team

  /api/v1/teams/members/{userId}:
    delete:
      summary: Remove team member
      description: Removes a member from the team. Owner or admin can call this.
      tags: [Teams]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions
        '404':
          description: Membership not found

  /api/v1/teams/members/{userId}/role:
    patch:
      summary: Update member role
      description: Promotes a member to admin or demotes an admin to member. Owner only.
      tags: [Teams]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [member, admin]
            example:
              role: admin
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not the team owner
        '404':
          description: Membership not found

  /api/v1/teams/leave:
    delete:
      summary: Leave team
      description: Removes the authenticated user from their current team. Members only — team owners cannot leave their own team.
      tags: [Teams]
      responses:
        '204':
          description: Successfully left the team
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: User is not a team member

  /api/v1/teams/domain-allowlist:
    get:
      summary: List domain allowlist
      description: Returns all allowed email domains for the team's Enterprise auto-join feature. Enterprise plan only.
      tags: [Teams]
      responses:
        '200':
          description: Allowed domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                          example: company.com
                        createdAt:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Enterprise plan required

    post:
      summary: Add domain to allowlist
      description: >
        Adds an email domain to the auto-join allowlist. Any new user signing up with
        a matching domain is automatically added to the workspace. Enterprise plan only.
      tags: [Teams]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  description: Domain without @ prefix (e.g. "company.com")
            example:
              domain: company.com
      responses:
        '201':
          description: Domain added
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      domain:
                        type: string
        '400':
          description: Invalid domain format
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Enterprise plan required
        '409':
          description: Domain already in allowlist

  /api/v1/teams/domain-allowlist/{domain}:
    delete:
      summary: Remove domain from allowlist
      description: Removes an email domain from the auto-join allowlist. Enterprise plan only.
      tags: [Teams]
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
          example: company.com
      responses:
        '204':
          description: Domain removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Enterprise plan required
        '404':
          description: Domain not found

  /api/v1/queue:
    get:
      summary: Get decision queue
      description: Returns ideas ranked by AI-generated strategic priority. Updated nightly. Team+ plans only.
      tags: [Ideas]
      responses:
        '200':
          description: Prioritized idea queue
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ideaId:
                          type: string
                          format: uuid
                        rank:
                          type: integer
                        priorityScore:
                          type: number
                        explanation:
                          type: string
                          description: AI-generated reason for this priority ranking
                        updatedAt:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Team+ plan required

  /api/v1/signal-feed:
    get:
      summary: Signal feed
      description: >
        Returns a live feed of trending startup niches ranked by heat score —
        15 categories, continuously updated from real market signals, with 7-day sparklines.
        Team+ plans only.
      tags: [Intelligence]
      responses:
        '200':
          description: Niche signal feed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        niche:
                          type: string
                        label:
                          type: string
                        totalIdeas:
                          type: integer
                        goCount:
                          type: integer
                        pivotCount:
                          type: integer
                        heatScore:
                          type: number
                        sparkline:
                          type: array
                          items:
                            type: integer
                          minItems: 7
                          maxItems: 7
                          description: Daily GO count for the last 7 days, index 0 = oldest
                  locked:
                    type: boolean
                    description: true when the user's plan does not include signal feed access
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/profile:
    patch:
      summary: Update profile
      description: Updates the authenticated user's profile fields. All fields are optional in partial updates.
      tags: [Profile]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                  nullable: true
                username:
                  type: string
                  pattern: '^[a-z0-9_-]{3,30}$'
                  description: 3–30 chars — lowercase letters, numbers, _ or -
                company_name:
                  type: string
                  nullable: true
                role:
                  type: string
                  enum: [indie, pm, agency]
                  description: User role for personalized UI (agency = Agency/Studio user)
                marketing_emails_consent:
                  type: boolean
            example:
              first_name: Alex
              last_name: Founder
              username: alexfounder
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          description: Validation error or username format invalid
        '401':
          description: Unauthorized
        '409':
          description: Username already taken

    delete:
      summary: Delete account
      description: Logs an account deletion audit event and signs out the user. Actual data deletion is handled separately.
      tags: [Profile]
      responses:
        '200':
          description: Account deletion initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401':
          description: Unauthorized

  /api/v1/profile/avatar:
    post:
      summary: Upload avatar
      description: Uploads a profile avatar image (PNG/JPEG/WebP, max 5MB). Resized to 256×256 WebP.
      tags: [Profile]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      avatarUrl:
                        type: string
                        format: uri
        '400':
          description: Invalid file type or size exceeds 5MB
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/data-export:
    post:
      summary: Export account data
      description: Returns all user data as a JSON attachment (GDPR Art. 20 — data portability). Includes ideas, decisions, signals, profile, and subscription.
      tags: [Profile]
      responses:
        '200':
          description: JSON file download
          headers:
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="pledgeoff-export-2026-05-30.json"
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: object
                  ideas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Idea'
                  decisions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Decision'
                  subscription:
                    $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/resend-verification:
    post:
      summary: Resend verification email
      description: Resends the email verification link for unverified accounts. 60-second cooldown enforced.
      security: []
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
            example:
              email: founder@startup.io
      responses:
        '200':
          description: Verification email sent (or already verified)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          description: Invalid email
        '429':
          description: Cooldown active — wait 60 seconds before retrying

  /api/v1/feedback:
    post:
      summary: Submit verdict feedback
      description: Records thumbs up or thumbs down feedback on a GO/KILL/PIVOT decision. Feeds back into signal quality.
      tags: [Intelligence]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ideaId, decisionId, vote]
              properties:
                ideaId:
                  type: string
                  format: uuid
                decisionId:
                  type: string
                  format: uuid
                vote:
                  type: string
                  enum: [thumbs_up, thumbs_down]
                comment:
                  type: string
                  maxLength: 500
            example:
              ideaId: 123e4567-e89b-12d3-a456-426614174000
              decisionId: 987fcdeb-51a2-43f7-b123-426614174000
              vote: thumbs_up
      responses:
        '201':
          description: Feedback recorded
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/contact:
    post:
      summary: Send contact message
      description: Sends a contact form message to contact@pledgeoff.com. No authentication required.
      security: []
      tags: [Public]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, subject, message]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                email:
                  type: string
                  format: email
                  maxLength: 200
                subject:
                  type: string
                  minLength: 1
                  maxLength: 300
                message:
                  type: string
                  minLength: 10
                  maxLength: 5000
            example:
              name: Alex Founder
              email: alex@startup.io
              subject: Question about Enterprise plan
              message: Hi, I have a question about custom signal sources.
      responses:
        '200':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
        '400':
          description: Validation error

  /api/v1/public/last-validated:
    get:
      summary: Last validated timestamp
      description: Returns the timestamp of the most recent decision generated on the platform. No authentication required. Cached 60 seconds.
      security: []
      tags: [Public]
      responses:
        '200':
          description: Last validated timestamp or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                    properties:
                      lastValidatedAt:
                        type: string
                        format: date-time
              example:
                data:
                  lastValidatedAt: '2026-05-30T10:42:00.000Z'

  /api/v1/teams/auto-join:
    post:
      summary: Auto-join by email domain
      description: >
        Checks if the authenticated user's email domain matches any team's domain allowlist
        and auto-joins the workspace if so. Idempotent — safe to call on every login.
        Enterprise feature (allowlist is Enterprise-gated on the team side).
      tags: [Teams]
      responses:
        '200':
          description: Auto-join result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      joined:
                        type: boolean
                      teamId:
                        type: string
                        format: uuid
                        nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/waitlist:
    post:
      summary: Join waitlist
      description: Adds an email to the waitlist and sends a confirmation email. No authentication required.
      security: []
      tags: [Public]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                source:
                  type: string
                  maxLength: 100
                  default: unknown
                  description: Traffic source identifier (e.g. homepage, blog, ph)
            example:
              email: founder@startup.io
              source: homepage
      responses:
        '200':
          description: Added to waitlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          description: Invalid email or JSON
        '500':
          description: Failed to save
